<launch>
    <!-- Arguments -->
    <arg name="map_file" default="/workspace/datas/maps/2D/map.pgm.yaml"/>
    <arg name="config_file" default="$(find mcl)/config/mcl_params.yaml"/>
    <arg name="rviz_config" default="$(find mcl)/config/mcl.rviz"/>
    <arg name="use_rviz" default="true"/>

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- MCL node -->
    <node pkg="mcl" type="mcl_ros1_node" name="mcl_node" output="screen">
        <!-- Configuration file -->
        <param name="config_file" value="$(arg config_file)"/>
    </node>

    <!-- RViz (optional) -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" 
              args="-d $(arg rviz_config)"/>
    </group>
</launch> 
